<h1>Publish Something</h1>

<%=	form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h3><%=	pluralize(@post.errors.count, "error") %> stopped from publishing.</h3>
          <ul>
            <%=	@post.errors.full_messages.each do |msg| %>
              <li><%=	msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>

    <button class="btn btn-default"><%= f.submit %></button>
<% end %>
