<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="post-title"><%= @post.title %></h2>
        <span class="meta">Posted by <a href="#">PrioM</a> <%= time_ago_in_words(@post.created_at) %> ago | <%=	 link_to 'Edit', edit_post_path(@post) %> | <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure? You can not undo this action."}, class: "text-danger" %></span>
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
</article>