<%=	render 'header' %>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span class="meta">Posted <%= time_ago_in_words(@post.created_at) %> ago by <a href="#">PrioM</a>
        <% if user_signed_in? %>
          | <%=	 link_to 'Edit', edit_post_path(@post) %> | <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure? You can not undo this action."}, class: "text-danger" %></span>
        <% end %>
        <hr>

        <p><%= @post.body %></p>
        <hr>
        <h1>Comments</h1>
        <h4><%=	@post.comments.count %> Comments</h4>
        <%=	render @post.comments %>
        <hr>
        <%=	render 'comments/comment-form' %>
        <br>
      </div>
    </div>
  </div>
</article>

